@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
body {
  background-color: #FAEBD7;
}
.logo-font{
  font-family: "Playwrite MX Guides";
}
.connecth1 h1{
  font-family: "Dancing Script";
}
.connecth1 p{
  font-family: "Playwrite RO";
}
/* blog page */
.title h1, .context h1{
  font-family: "Rubik Marker Hatch";
}